.bg_blue{
   background:#006eff
}

.edu-right-sidebar{width:435px;padding:9px 15px;height: auto}
.edu-chatroom-speaking .tc-15-input-textarea{padding:10px 5px;}
.edu-right-chatroom{ height: calc( 100vh - 110px);}
.edu-chatroom-notification{padding:0 10px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 140px;
   word-wrap: break-word;
   overflow: auto;
}
.edu-chatroom-list{padding:0}

.tc-member-list-container{height:auto}

.edu-member-list-inner{ overflow: hidden; padding-bottom:0;
    white-space: normal;}
.edu-member-list-inner>li{
    display:inline-block; margin:2px;
    width: calc( (100vw - 800px)/2 - 10px );
    height: calc( (100vw - 800px)/2 - 10px );
    vertical-align: middle;
    overflow: hidden;
}
.edu-member-box .edu-member-img{
    width:100%;height:100%;background:#000;
}

.tc-member-list-container{background:transparent;margin:auto}

.edu-main-content-wrapper{
    margin-right:480px; margin-left: 20px; height: 100%;
}

.edu-left-sidebar{ width:300px; }
.edu-main-content-wrapper{margin-left:105px;}

@media screen and (max-width: 1300px) {
    .edu-header{height:50px;line-height: 50px}
    .edu-container{top:50px;}
    .edu-member-list-inner>li{
        display:inline-block; margin:2px;
        width: calc( (100vw - 450px)/2 - 10px );
        height: calc( (100vw - 450px)/2 - 10px );
        vertical-align: middle;
        overflow: hidden;
    }
    .edu-member-box .edu-member-img{
        width:100%;height:100%;background:#000;
    }
    .edu-main-content-wrapper{
        margin-right:200px
    }
    .edu-right-sidebar{
        width:200px;
    }
    .edu-left-sidebar{
        width:200px
    }
    .edu-main-content-wrapper{
        margin-left:10px;
    }
    .tc-15-tab{
        margin-bottom:5px;
    }
    .tc-15-tab-alt > .tc-15-tablist{
        margin-bottom:0;
    }
    .tc-15-tab-alt > .tc-15-tablist ul{display: none}
}
/* 

@media screen and (max-width: 1300px) {
    .edu-header{height:30px;line-height: 30px}
    .edu-container{top:30px;}
    .edu-member-list-inner>li{
        display:inline-block; margin:2px;
        width: calc( (100vw - 450px)/2 - 10px );
        height: calc( (100vw - 450px)/2 - 10px );
        vertical-align: middle;
        overflow: hidden;
    }
    .edu-member-box .edu-member-img{
        width:100%;height:100%;background:#000;
    }
    .edu-main-content-wrapper{
        margin-right:200px
    }
    .edu-right-sidebar{
        width:200px;
    }
    .edu-left-sidebar{
        width:200px
    }
    .edu-main-content-wrapper{
        margin-left:10px;
    }
    .tc-15-tab{
        margin-bottom:5px;
    }
    .tc-15-tab-alt > .tc-15-tablist{
        margin-bottom:0;
    }
    .tc-15-tab-alt > .tc-15-tablist ul{display: none}
} */



@media screen and (max-width: 1440px) {
    .edu-header{height:30px;line-height: 30px}
    .edu-container{top:30px;}
    .edu-member-list-inner>li{
        display:inline-block; margin:2px;
        width: calc( (100vw - 230px)/2 - 10px );
        height: calc( (100vw - 230px)/2 - 10px );
        vertical-align: middle;
        overflow: hidden;
    }
    .edu-member-box .edu-member-img{
        width:100%;height:100%;background:#000;
    }
    .edu-main-content-wrapper{
        margin-right:0
    }
    .edu-right-sidebar{
        width:0;
        display:none;
    }
    .edu-left-sidebar{
        width:200px
    }
    .edu-main-content-wrapper{
        margin-left:10px;
    }
    .tc-15-tab{
        margin-bottom:5px;
    }
    .tc-15-tab-alt > .tc-15-tablist{
        margin-bottom:0;
    }
    .tc-15-tab-alt > .tc-15-tablist ul{display: none}
}